

  <div class="site-wrapper">
  
        <div class="site-wrapper-inner">
  
          <div class="cover-container">
  
            <div class="inner cover">
              <h1 class="cover-heading">bounded.buzz</h1>
              <p class="lead">
<pre>
<b>Impressum</b>
tobiga UG (haftungsbeschränkt)
Tobias Gassmann
Schillerstr. 41
80336 München
HRB 219431
USt-IdNr.: DE 301206623
</pre>
              </p>
              <p class="lead">bounded.buzz is a geo-based chat-board. Your messages are only visible within the radius you choose. 
              Changing the visibility-radius does not affect previously posted messages. 
              </p>
              <p class="lead">
              The visibility-radius also limits the messages you receive: 
              Only those messages within your observed visibility-radius will be displayed, 
              given that you are also within the visibility-radius defined by the sender 
              </p>
              <p class="lead">
              Additionally you can set a "time-to-live" on your messages, defining how long your messages will be visible. You can filter messages with hashtags or protect them by using secret channels.
              </p>
              <p ng-show="!myProfile" class="lead">
                
                <a href="" ng-click="clickLoginAuth0FromAbout()"> Sign-Up or Login </a>

              </p>
            </div>
  
  
          </div>
  
        </div>
  
      </div>
      




