.chat-ruler{
	margin-top:16px;
	margin-bottom:10px;
}


.img-small{
  max-width:50px;
}




.message-input{
  background: linear-gradient(to bottom, #ddd 0%, #aaa 100%);
  position:fixed;
  top:51px;
  padding-top:10px;
  padding-left:17px;
  padding-right:15px;
  right:0px;
  left:0px;
  z-index:1020;
  box-sizing:border-box;
  border-top:1px solid #222222;
  border-bottom:1px solid #777;
  vertical-align:middle;
}

.top-margin {margin-top: 20px;}


.chat.btn-file {
    position: relative;
    overflow: hidden;
}
.special-btn-file {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}
















